.content
	#posts.content-row
		.content-column
			.content-img-container(style="width:250px; height:145px;")
				.content-img-placeholder
					.content-img-data
						.content-heading
							p.content-painting Name of the painting
							p.content-artist Name of the artist
						p.content-info 5647 просмотров
						p.content-info 876 подписчиков
						p.content-rating Рейтинг: 4,5
						.content-stars(data-rating="4.5")
				//- img(src="//placehold.it/250x145", alt="Placeholder Image").img-responsive
		.content-column
			.content-img-container(style="width:290px; height:145px;")
				.content-img-placeholder
				//- img(src="//placehold.it/290x145", alt="Placeholder image").img-responsive
		.content-column
			.content-img-container(style="width:290px; height:240px;")
				.content-img-placeholder
				//- img(src="//placehold.it/290x240", alt="Placeholder image").img-responsive
		// NEXT ROW
		.content-column
			.content-img-container(style="width:250px; height:180px;")
				.content-img-placeholder
				//- img(src="//placehold.it/250x180", alt="Placeholder image").img-responsive
		.content-column
			.content-img-container(style="width:290px; height:180px;")
				.content-img-placeholder
				//- img(src="//placehold.it/290x180", alt="Placeholder image").img-responsive
		.content-column
			.content-img-container(style="width:290px; height:85px;")
				.content-img-placeholder
				//- img(src="//placehol/d.it/290x110", alt="Placeholder image").img-responsive
		.content-column.content-column-2x
			.content-img-container(style="width:680px; height:145px;")
				.content-img-placeholder
				//- img(src="//placehold.it/750x145", alt="Placeholder image").img-responsive
		.content-column
			.content-img-container(style="width:290px; height:145px;")
				.content-img-placeholder
				//- img(src="//placehold.it/290x145", alt="Placeholder image").img-responsive
	.content-bottom-row
		a.content-arrow